@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: rgb(32, 31, 30);
  color: #ddd8e4;
}

main {
  text-align: center;
  margin: 5rem auto;
}

p {
  font-size: 0.8rem;
}